.wrapper {
  display: flex;
  margin-left: 4rem + 18rem;/* Matches sidebar width */
  height: 100%;
  width: 100%;
}



.filter-section {
  width: 18rem;
  min-width: 16rem;
  overflow-y: auto;
  border-right: 1px solid #ddd;
  background-color: #f8f8f8;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 4rem;
}

.inventory-section {
  flex: 1;
  margin: auto;
  margin-left: 35rem;
  width: calc(100% - 30rem); /* Take remaining width */
  overflow-x: hidden;
}
