.page-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.filter-section {
  flex: 1;
  max-width: 300px;
  overflow-y: auto;
  border-right: 1px solid #ddd;
  padding: 16px;
  background-color: #f8f8f8;
}

.inventory-section {
  flex: 3;
  overflow-y: auto;
  padding: 16px;
}
