body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.Table {
    margin: auto;
    background-color: aliceblue;
    height: 80vh;
    /* width: 100%; */
    width: 70vw;
    display: flex;
    flex-direction: column; 
    border: 3px solid black;
    border-radius: 10px;
    
}

.Header {
    background-color: white;
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    border-radius: 10px;
    padding: 0;
}

.Items {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 30%;
    padding: 0% 2% 1% 2%;
    gap: 5%;
}

.Searchbar input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    flex-grow: 2;
    margin-right: 15px;
    min-width: 30vw;
    height:5vh;
    background-color: #D9D9D9;

}

.buttons {
    z-index: 10000;
    display: flex;
    gap: 10px;
    height: 5vh;
    align-items: center;
}

.addBtn {
    padding: 8px 12px;
    border: none;
    background-color: #418CFE;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 2px;
}

.brwBtn {
    padding: 8px 12px;
    border: none;
    background-color: #D9D9D9;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 2px;
}

.addBtn:hover, .brwBtn:hover {
    background-color: #3c3e41;
}

.TableLabels {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    padding-left: 8%;
    padding-right: 10%;
    position: absolute;
    bottom: -2px; 
    gap: 2vh;
    font-size: 1rem;
    margin-top: 2vh;
}

.TableLabel {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    color: #333;
}

#NameTag {
    cursor: pointer;
}

#NameTag:hover {
    transition: all 0.5s ease;
    color: #1c1c1c;
    font-weight: 500;
}


.ItemBarHolder {
    background-color: white;
    width: 96%;
    border: 1px solid #ccc;
    display: flex;
    height: 80%;
    flex-direction: column;
    max-height: 100%; 
    overflow-y: auto;
    margin-left: 2%;
    margin-right: 2%;
}

.pagination-controls {
    display: flex;
    flex-direction: row;
    position: sticky;
    bottom: 0;
    background-color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    justify-content: space-between;
}


.num-items {
    /* height: 5vh; */
    display: flex;
    flex-direction: row;
    padding-left: 3%;
    margin-right: auto;
    flex: 0; 
}

.page-selection {
    display: flex;
    padding-right: 5%;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.leftBtn, .rightBtn, .pageNum {
    padding: 8px 12px;
    border: none;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 2px;
    background: none;
}

.view {
    padding: 10%
}

.select-num {
    padding: 10% 15% 10% 15%;
    background-color: #D9D9D9;
    border: none;
}
