@import url('https://fonts.googleapis.com/css2?family=Akatab:wght@400;500;600;700;800;900&family=Handjet&display=swap');

* {
  font-family: "Akatab", sans-serif;
  color: #000000;
}

li {
    border-radius: 0.5rem;
}

.nav-links {
  margin: auto;
  width: 60vw;
  height: auto;
  list-style: none;
}

.last-element {
  border-right: 0px;
}

.nav-items{
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9; 
  margin-right: 1rem;
  width: 12rem;
  height: 12rem;
  text-align: center;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.placeholder {
  display: inline-block;
  width: 12rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #d9d9d9;
  margin-right: 1rem;
}