@import url('https://fonts.googleapis.com/css2?family=Akatab:wght@400;500;600;700;800;900&display=swap');

/* container for all return items */
.wrapper {
    position: absolute;
    display: flex;
    z-index: 1000;
    justify-content: space-between;
    flex-direction: column;
    left:0;
    top:0;
    height: 100vh;
    padding: 5vh;
    width: 100%;
    background: #F8F5F5;
}

.header {
    font-size: 2.5rem; 
    display: flex;
    justify-content: space-between;
    width: 83vw;
}

/* container for all return items */
.itemContainer {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    justify-items: flex-start;
    align-items: baseline;
    margin-top: 2vh;
    width: 85vw;
}

/* one translucent red box */
.returnItem {
    display: flex;
    margin: 1vh 1vw;
    flex-direction: column;
    background-color: #E3CECE;
    border: 1px solid #9B525F;
    padding: 1vh 1vw;
    width: 26vw;
    height: 34vh;
    color: black;
    font-family: "Akatab", serif;
    border-radius: 4.813px;
    box-shadow: 0px 1.925px 4.813px 0px rgba(0, 0, 0, 0.25);
    justify-content: space-evenly;
}

/* top row in a given return item box -- containing img, name/id info, 
 * and close out button */
.itemID {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

/* container for item name and id number -- middle element in .itemID */
.itemInfo {
    display: flex;
    flex-direction: column;
}

/* note: will need separate css class for handling exit button */
.exitBtn {
    padding: 0;
    background: none; 
    border: none;
    color: #000000;
    box-shadow: none;
    padding-right: 1px; 
}

.exitBtn:hover {
    padding: 0;
    background: none; 
    border: none;
    color: #000000;
    box-shadow: none;
    padding-right: 1px; 
}
/* note: image will need white border styling and sizing */

.notesWrapper {
    height: 15vh;
}

/* textbox for "notes" about return item */
.notesTextbox {
    width: 100%;
    height: 11vh;
    flex: 0;
    border: 1px solid #9B525F;
    background-color: #F8F5F5;
}

.dropdown-component {
    display: flex;
    width: 75%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 2.3rem;
}

.dropdown-component select {
    border-radius: 3px;
    border: 1px solid #9B525F;
    background: #FFF;
    width: 50%;
    padding: 0.5rem;
}

.dropdown {
    border: 1px solid #9B525F;
    background: #FFF;
    padding-left: 0.7vw;
    width: 100%;
    height: 5vh;
    padding-right: 0.7vw;
}

.dropdown select {
    border: 1px solid #9B525F;
    background: #FFF;
    width: stretch;
    color: #9B525F;
}

.p-dropdown-panel {
    background-color: #FFF !important;
    border: 1px solid #9B525F;
    box-shadow: 0px .1rem .2rem 0px rgba(0, 0, 0, 0.25);
}

.p-dropdown-item {
    padding: 0.5rem;
    background-color: #FFF;
    border-bottom: 1px solid #DBDBDB;
    display: flex;
    justify-content: space-between;
    border-radius: 0;
    color:#9B525F;
}

.p-dropdown-item:hover {
    background-color: #efd4da;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out !important;
}

.p-multiselect-item:hover {
    background-color: #efd4da;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out !important;
}

.p-multiselect-panel {
    background-color: #FFF !important;
    border: 1px solid #9B525F;
    box-shadow: 0px .1rem .2rem 0px rgba(0, 0, 0, 0.25);
    color: #FFF !important;
}

.p-multiselect-token {
    color: #9B525F;
    background-color: #9B525F !important;
    border-radius: 0.2rem;
    padding: 0.8rem;
    font-size: 1rem;
    height: 3.5vh;
    margin-right: 0.4rem;
    gap: 0.4rem;
}

.p-multiselect-token-label {
    color: white;
    cursor: pointer;
}


.p-chips-token .p-chips-token-icon {
    color: white;
}

.p-multiselect-label-container {
    justify-content: center;
    line-height: 2.3rem;
    padding-top: 0.1vh
}

.p-multiselect-item {
    background-color: #fff;
    padding: 0.5rem;
    border-top: 1px solid #DBDBDB;
    color: #9B525F;
    border-radius: 0rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.p-multiselect-header {
    display: none !important;
}

.p-inputwrapper-filled .p-input {
    border: 1px solid #9B525F;
    background: #FFF;
    position: absolute;
    color: #9B525F;
}

.p-checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    display: none;
}

.p-checkbox-icon .p-highlight {
    background-color: #FFF;
    position: absolute;
    transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out !important;
}

.p-multiselect .p-multiselect-items .p-multiselect-item .p-checkbox {
    display: flex !important;
    align-items: center !important;
    border: 1px solid #9B525F;
}

.p-checkbox-box {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 1.25rem !important;
    height: 1.25rem !important;
    border: 2px solid #9B525F !important;
    border-radius: 0.25rem !important;
    background-color: #FFF;
    transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out !important;
}

.p-multiselect .p-multiselect-items .p-multiselect-item .p-checkbox .p-checkbox-box.p-highlight {
    background-color: #9B525F !important;
    border-color: #9B525F !important;
}


.p-multiselect .p-multiselect-items .p-multiselect-item .p-checkbox .p-checkbox-box.p-highlight .p-checkbox-icon {
    color: #FFF !important;
}

.p-highlight {
    background: #f7e6e9;
    transition: background 0.1s ease-in-out, border-color 0.1s ease-in-out !important;
}

.condition-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
}

.condition-dropdown {
    padding: 0.5rem;
    width: 100%;
    margin-top: 0.5rem;
}

.page-select {
    display: flex;
    padding-right: 5%;
    align-items: flex-end;
    justify-content: center;
    flex: 1;
}

.condition {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5vh;
}

/* .button {
    border-radius: .2rem;
    border: 1px solid #9B525F;
    background: #FFF;
    box-shadow: 0px .1rem .2rem 0px rgba(0, 0, 0, 0.25);
}

.button select {
    border-radius: .2rem;
    border: 1px solid #9B525F;
    background: #9B525F;
    box-shadow: 0px .1rem .2rem 0px rgba(0, 0, 0, 0.25);
}

.p-selectbutton .p-button {
    display: inline-flex; 
    border-radius: 0.2rem;
    border: 1px solid #9B525F;
    background: #FFF;
    box-shadow: 0px 0.1rem 0.2rem 0px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    gap: 1rem;
    padding: 0.5rem;
    margin-right: 1.3rem;
    width: 7rem;
    height: 3rem;
    cursor: pointer;
    justify-content: center;
    font-size: 16px;
}

.p-selectbutton .p-button.selected {
    background-color: #9B525F !important;
    color: white !important;
    border: 2px solid #7B3F4C;
}

.p-selectbutton .p-button:hover:not(.selected) {
    background-color: #d17a88;
    color: black;
}

.p-selectbutton .p-button:focus {
    outline: none;
}

.p-selectbutton .p-button span {
    margin: auto;
    text-align: center;
}

.cancel-submit-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.625rem;
}

.cancel-submit-buttons .p-selectbutton .p-button {
    height: 3rem;
}

/* Arrow icon animation 
.p-multiselect .p-multiselect-trigger {
    transition: transform 0.3s ease-in-out;
    transform: rotate(0deg);
}

.p-multiselect.p-focus .p-multiselect-trigger,
.p-multiselect.p-multiselect-open .p-multiselect-trigger {
    transform: rotate(180deg);
} */