.tableContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    width: 100%;
    overflow-y: auto;
    z-index: 1;
    padding-bottom: 4rem;
    padding-left: 2rem;
  }
  
  @media (max-width: 819px) {
    .tableContainer {
      overflow: hidden;
      width: 100%;
      white-space: nowrap;
    }
  }
  
  .tableContent {
    width: 100%;
    margin-top: 2vh;
  }
  
  #borrowerInfo {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  #borrowerInfo tbody {
    border: 1px solid #9B525F;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  #borrowerInfo tbody tr {
    border-bottom: 0.99px solid #D9D9D9;
  }
  
  #borrowerInfo td,
  #borrowerInfo th {
    text-align: left;
    padding: 8px 12px;
    border: none;
    font-weight: 400;
  }
  
  #borrowerInfo td {
    font-size: 1rem;
  }
  
  #borrowerInfo th {
    font-size: 0.75rem;
  }
  
  #borrowerInfo thead tr {
    border-bottom: none;
  }
  
  #borrowerInfo tbody tr:hover {
    background-color: #F3E4E4;
  }
  
  .flex-spacer {
    flex-grow: 1;
  }
  
  .pagination-controls {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 2rem 0;
    background-color: white;
    border-top: 1px solid #ccc;
  }
  
  .num-items {
    position: absolute;
    left: 1rem;
    display: flex;
    align-items: center;
  }
  
  .page-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  