.tableContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    z-index: 1;
    overflow-y: auto;
    padding-left: 90px;
    margin: 2vw;
}
  
@media (max-width: 991px) {
    .tableContainer {
        padding-left: 70px;
    }
}

@media (max-width: 640px) {
    .tableContainer {
        padding-left: 60px;
    }
}

.tableContent {

}

#BorrowerTable {
    /* position: fixed; */
}